<section class='loginForm'>
  <form (ngSubmit)='onSubmit()' [formGroup]='loginForm' fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field>
      <input type="text" formControlName="email"  placeholder="Email" id="email" required matInput>
      <mat-error>Email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" formControlName="password" id="password" required placeholder="Password" matInput minlength="6">
      <mat-error>Password should be 6 char long.</mat-error>
    </mat-form-field>
    <button mat-raised-button *ngIf='!(showSpinner$ | async)' type="submit" color='primary'>Login</button>
    <mat-spinner *ngIf="showSpinner$ | async"></mat-spinner>
  </form>
</section>